.header {
  height: 6rem;
  background-color: var(--bg-color-2);
  display: flex;
  align-items: center;
  padding: 0rem 5rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo {
  height: 4rem;
}

header li {
  list-style: none;
}

.menu {
  margin-top: 15px;
}

.menu-list {
  display: flex;
  gap: 2rem;
}

.link {
  text-decoration: none;
  color: var(--txt-color-light);
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 15px;
  margin-top: 5px;
}

.link:hover {
  color: var(--txt-color-secondary);
}

.btn-login {
  background-color: var(--primary-color);
  border: none;
  color: var(--txt-color-secondary);
  opacity: 0.9;
  padding: 8px 15px;
  font-size: 1rem;
  height: 2rem;
}

.btn-login:hover {
  opacity: 1;
}
