:root {
  --primary-color: #818cf8;
  --bg-color: #fff;
  --bg-color-2: #f5f9f7;
  --border-color: hsl(214, 32%, 91%);
  --txt-color: #334155;
  --txt-color-light: #94a3b8;
  --txt-color-secondary: #fff;
  --danger-color: #dc2626;
}

* {
  color: var(--txt-color);
}

h1 {
  font-weight: 500;
  font-size: 2.2rem;
}

.App {
  text-align: center;
}

/* utils */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.br-1x {
  border-radius: 5px;
}

.flex-grow-1x {
  flex-grow: 1;
}

.pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: 0px 0px 5px 0px var(--border-color);
}

.mg-top-4x {
  margin-top: 4rem;
}
